$res_root: 'http://localhost:3000';

// 백그라운드 
@mixin bg($name, $path: $res_root +"/resources/img/", $format: "svg") {
  background: url("#{$path}#{$name}.#{$format}") center no-repeat;
  border: none;
}

@mixin ico($name, $path: $res_root +"/resources/img/", $format: "svg") {
  background: url("#{$path}#{$name}.#{$format}") center no-repeat;
  overflow:hidden; 
  color: transparent; 
  vertical-align: middle; 
  background-color: #fff; 
}

// absolute
@mixin RtCon($top, $Rt, $zIndex){
  position: absolute;
  top: $top;
  right: $Rt;
  z-index: $zIndex;
}
@mixin LtCon($top, $Lt, $zIndex){
  position: absolute;
  top: $top;
  left: $Lt;
  z-index: $zIndex;
}
@mixin BtLtCon($Bt, $Lt, $zIndex){
  position: absolute;
  bottom: $Bt;
  left: $Lt;
  z-index: $zIndex;
}
@mixin BtRtCon($Bt, $Rt, $zIndex){
  position: absolute;
  bottom: $Bt;
  right: $Rt;
  z-index: $zIndex;
}

// flex
@mixin flexArCtr($gap){
  display: flex;
  align-items: center;
  gap: $gap;
}
@mixin flexCtr($gap){
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}
@mixin flexCol($gap){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $gap;
}
@mixin flexCol02($gap){
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: $gap;
}
@mixin flexCol03($gap){
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin flexCol04($gap){
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $gap;
}
@mixin flexSb($gap){
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $gap;
}
@mixin flexSa($gap){
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: $gap;
}
@mixin flexFs($gap){
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $gap;
}

// 말줄임
@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }@else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

// 공통영역
@mixin close($top, $Rt, $zIndex){position: absolute;top: $top;right: $Rt;z-index: $zIndex;}
// 우측 하단 팝업창
@mixin popBtRt(){overflow: hidden;@include BtRtCon(0, 84px, 10);width: 375px;height: auto;max-height: 860px;color: #707070;background:#fff;border-radius: 20px 20px 0 0;}
.BtRtPop{@include popBtRt();}

// 메인 중앙 팝업창
@mixin CenterCon(){@include LtCon(50%, 50%, 10);transform: translate(-50%, -50%);width: 100%; max-height:100vh;overflow: hidden;background: #FFFFFF;border-radius: 0;}
.CtPop{@include CenterCon();}

// 우측 중앙 팝업창
@mixin popCenter(){@include RtCon(0, 0, 10); transform: translateY(0); border-radius: 0; width: 100%; max-height: 100vh;}
.RtCtPop{@include popCenter();}

/* moving pad */
.moving-pad {
  position: absolute; bottom: 50px; width: 75px; height: 75px; border: 1px solid rgba(255, 255, 255, 0.2); background-color: rgba(0,0,0,0.4); border-radius: 50%; box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.05); backdrop-filter: blur(5px);
  .handler {position: relative; display: block; left: 50%; top: 50%; transform: translate(-50%, -50%);}
  &.left {
    left: 60px;
    .handler {width: 23px; height: 23px; background-color: #fff; border-radius: 50%; opacity: 0.6; }
  }
  &.right {
    right: 110px;
    .handler {width: 24px; height: 17px; @include bg('img_tri_handler');}
  }
}

// *************************************************추가 공통

.con-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  overflow: hidden;
  height: auto;
  max-height: 679px;
  padding: 20px 5px 20px 20px;
  .con-inner-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 589px;
    padding: 0px 10px 0 0;
}
}
.write-con {
  color: #222;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  padding: 18px 20px;
  border-radius: 20px;
  border: 1px solid #E2E2E2;
}

button[class*="-L"] {
  width: 335px;
  padding: 16px;
}














//********* portrait
@media all and (orientation: portrait) {

  html {
    background:  url($res_root + '/resources/img/bg_mo.jpg') center no-repeat;
  }

  .menuclose{@include close(20px, 24px, 0);}
  .mapclose{@include close(0, -20px, 10);width: 50px;height: 50px;background: #fff;}
  .subclose{@include close(21px, 20px, 0);}
  .entireclose{@include close(61px, 24px, 0);}

  // 메시지 숫자 표기
  .-No{@include LtCon(-3px, 12px, 0);}
  // 팝업창 타이틀
  .popTit{@include flexCtr(0);width: 100%;padding: 20px 0;font-size: 17px;}  
  .subTit{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000;
    padding: 21px 0 18px;text-align: center;
    background: #fff;
  }
  // 알수없는 버튼 모음 박스
  .UnKnowBtn{
    width: 60%;
    height: 500px;
  }

  // 모바일 팝업 상단 바
  .popMoBar {@include LtCon(9px, 50%, 1); width: 80px; height: 6px; border-radius: 5px; background: #ddd; transform: translateX(-50%); }

  // 우측 하단 팝업창
  @mixin popBtRt(){@include BtRtCon(0, 50%, 10);transform: translateX(50%);width: 100%;}
  .popCenter, .ProfileView, .Voters{@include popCenter();}
  .Around, .Emoji {@include popBtRt(); border-radius: 30px 30px 0 0;}
  .AroundAll {@include BtRtCon(0 , 0, 10); top: 0; max-height: 100vh; border-radius: 0;}
  .EmojiAll {max-height: none; height: 365px;}
  .popCon{
    overflow-y: scroll;max-height: 844px;margin: 30px 10px 30px 0;padding: 0 15px 0 30px;
  }
  .popCon.ty-01{
    @include flexCol03(20px);
    max-height: 704px;
    margin-bottom: 20px;
    .Profile-set{    
      flex-direction: row;
      justify-content: space-between;
    }
    .Profile-con{@include flexArCtr(14px);}
    .popCon [class*="btn-L"]{
      width: 335px;
      padding: 17px;
      margin: 0 20px 20px;
    }
  }

  // 메인 우측바
  .RtBar{
    overflow-y: hidden; @include RtCon(50%, 15px, 1); @include flexCol(0); justify-content: space-between; width: 54px; height: 214px; padding: 20px 15px 21px 16px; transform: translateY(-50%); background: rgba(0, 0, 0, 0.3); border-radius: 50px;
    div{@include flexCol(30px);}
      button {position: relative;@include flexCol(10px);}
      .pfp{width: 22px;}
  }
  
  // 메인 좌측상단 박스
  .LtTopBar{
    @include LtCon(69px, 0, 5); @include flexSb(28px); padding: 0 20px; height: 25px;
    .LtTop {
      @include flexArCtr (28px);
    }
    .RtTop {
      @include flexArCtr (20px);
    }
    .loc{
      @include flexArCtr(7px);
      padding-top: 4px;
      div {
        max-width: 92px;
        @include ellipsis(1);
      }
    }
    &::before{display: none;}
  }

  // 참여모드 메인 좌측상단 박스
  .RtTopBar{
    @include LtCon(109px, 50%, 5); right: auto; transform: translateX(-50%);
    .RtTopBarCon{width: 335px; padding: 19px 22px;
      .playSubject{
        button img{@include flexCtr(0); width: 12px; height: 12px;}
        .playTime{padding: 0 16px 0 16px;}
        .subjectName{padding: 0 20px 0 15px;
        }
      }
    }

    .SubjectLists.ty-01{
      height: 54px;
      .subjectName input{margin-top: 0px;}
    }
    .SubjectLists{
      width: 335px; padding: 16px 21px 16px 16px;
      .SubjectList{
        .subjectName{ width: 137px; flex-shrink: 0;
          input{width: 137px;
          }
        }
        .playTime{
          position: relative; padding: 0 10px 0 8px; margin-left: 9px;
        }
      }
      .closeWt12{width: 12px; height: 12px; flex-shrink: 0;}
      .stop12, .play12{width: 12px;height: 14px; flex-shrink: 0;}
    }
  }

  // 메인 하단 바
  .BtBar{
    @include BtLtCon(47px, 50%, 6); @include flexCol(0); width: 100%;
    &::before{display: none;}
    .sayBox{width: 210px; margin-bottom: 5.42px;}
    .sayBoxCon{
      padding: 15px 19px 22px; @include bg('sayBox_mo');
      .sayIcon{width: 17px;height: 17px;border-radius: 5px;}
      .say{@include ellipsis(1);}
    }
    .BtBarCon{
      @include flexCtr(27px);
    }
  }

  // 좌측상단 메뉴 버튼
  .Menu{
    width: 335px; padding: 90px 20px 0;
    .MenuCon{
      @include flexCol(23px);
    }
    .MenuList{
      @include flexCol03(30px);
      .btn{font-weight: 500;font-size: 16px;color: #222;
        &::after{width: 6px;height:12px;}
      }
      .Top-line {
        width: 100%; height: 1px; background: #EEEEEE; border-radius: 6px;
      }
    }
  }

  @mixin MsgCon(){
    width: 335px;
    height: 143px;
  }
  .MsgCon{
    @include MsgCon();
    .sec-btns{
      padding-top: 28px;
    }
  }

  // 로그인
  .Alarm.LogIn {
    width: 335px;
    height: 517px;
  }
  // 이메일로 로그인 
  .Alarm.ELogin{
    width: 335px;
    height: 364px;
    .ELogin-con{
      padding: 0 15px 30px;
    }
  }
  // 비밀번호 재설정
  .Alarm.PwReset{
    .er{line-height: 120%;}
    .inp-wrap input{
      padding: 14px 19px;
    }
  }

  // 메인 하단 채팅 버튼
  .Chat{
    // .ChatCon{
    //   max-height: 662px;
    // }
  }

  // 메인 하단 주변 버튼
  .Around{
    .AroundCon{
      margin: 35px 20px 8px; padding-bottom: 6px;
    }
  }

  // 메인 하단 더보기 버튼
  // .More{
  //   @include popBtRt(); padding: 66px 25px 50px; border-radius: 30px 30px 0px 0px;
  // }

  .ProfileDrawer{
    .subclose {top: 58px;right: 24px;}
    .layer-pop .layer-wrap {border-radius: 0;}
    .login-wrap {width: 375px; height: 100vh; padding: 110px 20px 0;}
    .login-wrap .form-join {padding-bottom: 30px;}
    .login-wrap .form-join .form-label {margin-bottom: 24px;}
    .login-wrap .form-join dl dd.avatar .form-control-group {align-items: center; gap: 24px;}
    .login-wrap .form-join dl+dl .form-label {margin-bottom: 10px;}
  }

  .inp-wrap {gap: 10px;}
  .inp-wrap input {padding: 14px 16px;}

  .Connect{
    height: auto;
    .popCon{
      overflow-y: visible;
      max-height: none;
      margin: 0;
      padding: 0 15px 0;
    }
    .sec-btns{
      @include flexCtr(8px);
      button{
        padding: 18px 0;
      }
    }
  }

  // 튜토리얼
  .Tutorial{
    .Tutorial-con{
      @include flexCtr(0);
      height: 100vh;
      text-align: center;
      p{
        margin: 0 0 29px;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        color: #fff;
      }
      .sec-btn.on-02{
        padding: 17px;
        margin-top: 0;
        position: relative;
        bottom: auto;
        margin-left: 0;
      }
      .swiper-button-next, .swiper-button-prev {
        width: 8px;
        height: 13px;
      }
      .swiper-button-next:after, .swiper-button-prev:after{
        width: 8px;
        height: 13px;
        color: #fff;
        font-size: 0;        
      }
      .swiper-button-prev:after {
        @include bg('icon_swiper_prev_01');
      }
      .swiper-button-next:after {
        @include bg('icon_swiper_next_01');
      }
      .swiper-pagination {
        z-index: 0;
      }
      .swiper-pagination-bullet{
        width: 9.14px; height: 9.14px;
        background: rgba(255, 255, 255, 0.2);opacity:1;
      }
      .swiper-pagination-bullet-active{
        background:#fff;
      }
      .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin:0 5px;
      }

      .pad-guide {
        position: absolute;
        .guide-tit {margin-bottom: 5px; color: #fff; font-size: 22px; line-height: 22px; font-weight: 700; text-align: center;}
        &.left {
          left: 11px; bottom: 139px;
          .guide-tit {padding-left: 35px; margin-bottom: 33px; text-align: right;}
          .moving-pad {
            position: relative; left: 10px; bottom: 10px;
            &::before {
              content: ''; position: absolute; left: -10px; top: -10px; width: 93px; height: 93px; border: 2px solid #fff; border-radius: 50%;
            }
          }
        }
        &.right {
          right: 7px; bottom: 110px;
          img {width: 189.5px; height: 130.5px;}
        }
      }
    }
  }
  .entire-tit{
    @include LtCon(56px, 50%, 0); transform: translateX(-50%);
    width: auto;  
    padding: 0;
    font-size: 24px;
    font-weight: 700;
  }
  

// 맵
    .Map {
      @include LtCon(0, 0, 11);
      display: unset;
      width: 100%;
      height: 100vh;
      background: #fff;
  
      .MapCon {
        @include bg('map_mo', $format: "png");
        width: 100%;
        height: 714px;
        padding: 0;
      }
      .MapSearch_ty02{display: none;}
      .MapSearch {
        @include flexCol(0);
        padding-top: 20px;
        border-bottom: 0;
  
        .MapSearchBox {
          &::before{
            top: 23px;
            left: 21px;
          }
          input {
            width: 335px;
            height: 54px;
            padding: 0 49px 0 41px;
          }
  
          button {
            @include RtCon(14px, 21px, 0)
          }
        }
      }
  
      .SearchList {
        width: 335px;
        padding-top: 10px;
  
        li {
          width: 160px;
          background: #fff;
        }
      }
  
      .locationBtnMap40 {
        @include LtCon(266px, 217px, 0)
      }
  
      .currentLocBg {
        @include bg('currentLoc');
        @include LtCon(446px, 88px, 0);
        width: 40px;
        height: 64px;
        margin-top: 24px;
  
        img {
          width: 32px;
          height: 32px;
          margin: 4px;
          border-radius: 100px;
        }
      }
  
      .mapCurrentLocation40_02 {
        @include BtRtCon(160px, 20px, 0);
      }
  
      .MapLists_mo {
        position: absolute;
        bottom: 50px;
        left: 0;
        z-index: 0;
        width: 100%;
        .swiper{
          width: 100%;
          height: 80px;
        }
        .swiper-slide, swiper-slide{
          width: 280px !important;
          margin-right: 20px;
        }
        .MapList {
          width: 280px;
          height: 80px;
          background: #fff;
          box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
          border-radius: 99px;
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 16px 9px;
          font-weight: 400;
          font-size: 13px;
          line-height: 100%;
          color: #707070;
  
          .bldgImg {
            width: 48px;
            height: 48px;
            border-radius: 50%;
          }
  
          .titDesc {
            width: 115px;
            @include ellipsis(1);
            padding: 6.6px 0 3px;
          }
  
          .tit {
            @include flexArCtr(8px);
            width: 132px;
  
            p {
              @include ellipsis(1);
            }
          }
        }
      }
    }
    // 메인 하단 채팅 버튼
.Chat.All {
  height: 100%;
  border-radius: 0;
  .ChatCon {
    max-height: 558px;
  }
}
// 채팅
.Chat {
  @include popBtRt();
  top: auto;
  background: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #333333;
  height: 489px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  .subTit {
    padding: 32px 0 18px;
    border-bottom: 1px solid #eee;
    border-radius: 30px;
  }
  .ChatCon {
    max-height: 293px;
    margin-bottom: 15px;
  }
  .ChatMessage {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    .MessageBox .MessageBoxBtn .downArrow{
        top: 20px;
      }
    .Message-toggle{height: 92px;}
  }
  .recentTxt{display: none;}
}
// 상담실-상담등록
.ConsProduce{
  .subTit{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
  .write-con.detail.more{height: 210px;margin-bottom: 20px}
  .ConsProduce-inner .txt-13Gy2{
    text-align: left;
    line-height: 140%;
  }
  .write-con.detail{height: 210px;}
  .ConsProduce-inner .write-con.code{position: unset;padding: 15px 20px;}
  .Copypop-bk{
    top: auto;
    bottom: 33px;
    left: 50%;
    transform: translateX(-50%);
  }
}
// 마이룸 메인페이지 버튼
.CampusGoing{bottom: 100px;}
// 마이룸 옷장
.Closet{
  display: block;
  @include flexCol(24px);
  padding-top: 37px;
  top: auto;
  bottom: 0;
  transform: translatex(-50%);
  .Closet_character{
    width: 101.27px;
    height: 299px;
  }
  .Closet_con{
    width: 375px;
    height: 452px;
    border-radius: 10px 10px 0 0;
    .popCon{
      padding: 0 15px;
      margin: 30px 0 15px;
      max-height: unset;
      overflow: hidden;
    }
    .con-left .nav-tabs{
      padding-left: 14px;
      gap: 29px;
      button{gap: 2px;}
    }
    .myroom-itemboxs{
      height: 334px;
      padding: 20px 5px 20px 19px;
      .itembox{
        .nav-item{
          width: 69px;
          height: 69px;
          .item{
            width: 59.39px;
            height: 50.9px;
          }
        }
        .nav-item.on::after{
          bottom: 3px;
        }
      }
    }
    .sec-btns{
      padding: 0;
      @include BtLtCon(20px,50%,0);
      transform: translatex(-50%);
    }
  }
}
// 마이룸 화장대
.Closet.Makeup{
  .Closet_character{
    width: 264.24px;
    height: 780.14px;
    @include LtCon(28%,50%, -1);
    transform: translate(-50%, -50%);
  }
}
// 마이룸 캠퍼스 선택
.CampusSelect{
  .subTit{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .wrap-btn-selectcampus{
    padding: 20px 40px;
    gap: 20px;
  }
  .btn-selectcampus{
    width: 100%;
  }
}

// 공지사항
.Announcement{
  width: 356.52px;
  height: 322px;
  .Announcement-con{
    width: 325px;
  }
}
}
























//landscape
@media all and (orientation: landscape) {

  // 공통영역
  html {
    background:  url($res_root + '/resources/img/bg_mo2.jpg') center no-repeat;
  }

  .menuclose{@include close(20px, 24px, 0);}
  .mapclose{@include close(0, -20px, 10);width: 50px;height: 50px;background: #fff;}
  .subclose{@include close(21px, 20px, 1);}
  .entireclose{@include close(34px, 34.1px, 0);}

  // 메시지 숫자 표기
  .-No{@include LtCon(-3px, 12px, 0);}

  // 팝업창 타이틀
  .popTit{padding: 20px 0;font-size: 17px;}
  .subTit{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000;
    padding: 21px 0 18px;text-align: center;
    background: #fff;
  }
  // 우측 중앙 팝업창
  @mixin popBtRt(){@include BtLtCon(0, 50%, 10);width: 375px;transform: translateX(-50%);}

  // 알수없는 버튼 모음 박스
  .UnKnowBtn{
    height: 300px;
  }

  // 모바일 팝업 상단 바
  .popMoBar {@include LtCon(9px, 50%, 1); width: 80px; height: 6px; border-radius: 5px; background: #ddd; transform: translateX(-50%); }

  // 우측 중앙 팝업창
  @mixin popCenter(){@include RtCon(0, 0, 10); transform: translateY(0); border-radius: 0; width: 462px; max-height: 100vh;}
  .popCenter, .Chat, .ProfileView, .Voters{@include popCenter();}

  // 우측 하단 팝업창
  @mixin popBtRt(){@include BtRtCon(0, 50px, 10);width: 391px;}
  .popCenter, .Chat, .ProfileView, .Voters, .AroundAll{@include popCenter();}
  .Around, .Emoji {@include popBtRt(); border-radius: 30px 30px 0 0;}

  // 메인 우측바
  .RtBar{
    overflow-y: hidden; @include RtCon(50%, 15px, 1); @include flexCol(0); justify-content: space-between; width: 54px; height: 214px; padding: 20px 15px 21px 16px; transform: translateY(-50%); background: rgba(0, 0, 0, 0.3); border-radius: 50px;
    div{@include flexCol(30px);}
      button {position: relative;@include flexCol(10px);}
      .pfp{width: 22px;}
  }

  // 메인 좌측상단 박스
  .LtTopBar{
    @include LtCon(0, 0, 5); @include flexSb(28px); padding: 21px 45px 20px 40px;
    .LtTop {
      @include flexArCtr (28px);
    }
    .RtTop {
      @include flexArCtr (20px);
    }
    .loc{
      @include flexArCtr(7px);
      padding-top: 4px;
      div {
        max-width: 92px;
        @include ellipsis(1);
      }
    }
    &::before{display: none;}
  }

  // 참여모드 메인 좌측상단 박스
  .RtTopBar{
    @include LtCon(7px, 50%, 5); right: auto; transform: translateX(-50%);
    .RtTopBarCon{width: 335px; padding: 19px 22px;
      .playSubject{
        button img{@include flexCtr(0); width: 12px; height: 12px;}
        .playTime{padding: 0 16px 0 16px;}
        .subjectName{padding: 0 20px 0 15px;
        }
      }
    }

    .SubjectLists.ty-01{
      height: 54px;
      .subjectName input{margin-top: 0px;}
    }
    .SubjectLists{
      width: 335px; padding: 16px 21px 16px 16px;
      .SubjectList{
        .subjectName{ width: 137px; flex-shrink: 0;
          input{width: 137px;
          }
        }
        .playTime{
          position: relative; padding: 0 10px 0 8px; margin-left: 9px;
        }
      }
      .closeWt12{width: 12px; height: 12px; flex-shrink: 0;}
      .stop12, .play12{width: 12px;height: 14px; flex-shrink: 0;}
    }
  }

  // 메인 하단 바
  .BtBar{
    @include BtLtCon(22px, 50%, 6); @include flexCol(0); width: 100%;
    &::before{display: none;}
    .sayBox{width: 210px; margin-bottom: 5.42px;}
    .sayBoxCon{
      padding: 15px 19px 22px; @include bg('sayBox_mo');
      .sayIcon{width: 17px;height: 17px;border-radius: 5px;}
      .say{@include ellipsis(1);}
    }
    .BtBarCon{
      @include flexCtr(27px);
    }
  }

  // 좌측상단 메뉴 버튼
  .Menu{
    @include flexCol03(36px); width: 437px; padding: 35px 60px 0 70px; 
    .MenuCon{
      @include flexCol(18px);
      img{width: 84px;height: 84px;}
      .Point{@include LtCon(68px, 50%, 0);}
    }
    .MenuList{
      @include flexCol03(26px);
      .btn{font-weight: 500;font-size: 16px;color: #222;
        &::after{width: 6px;height:12px;}
      }
      .Top-line {
        display: none;
      }
    }
  }

  @mixin MsgCon(){
    width: 465px;
    height: 143px;
  }
  .MsgCon{
    @include MsgCon();
    .sec-btns{
      padding-top: 28px;
    }
  }

  // 로그인
  .Alarm.LogIn {
    width: 335px;
    height: 336px;
    .LogIn-con {
      justify-content: flex-start;
      overflow-y: auto;
      max-height: 305px;
    }
  }
  // 이메일로 로그인 
  .Alarm.ELogin{
    width: 335px;
    height: 354px;
    .ELogin-con{
      padding: 0 15px 20px;
    }
  }
  // 비밀번호 재설정
  .Alarm.PwReset{
    .PwReset-con{
      max-height: 220px;
      overflow-y: auto;
    }
    .er{line-height: 120%;}
    .inp-wrap input{
      padding: 14px 19px;
    }
  }

  // 메인 하단 채팅 버튼
  .Chat{
    .recentTxt{left: 50%; bottom: 95px; transform: translateX(-50%);}
    .ChatCon{
      max-height: 225px;        
    }
  }

  // 메인 하단 주변 버튼
  .Around{
    .AroundCon{
      margin: 35px 20px 8px; padding-bottom: 6px;
    }
  }

  // // 메인 하단 더보기 버튼
  // .More{
  //   @include BtLtCon(0px, 50%, 10); transform: translateX(-50%); right: auto; padding: 45px 25px 30px; border-radius: 30px 30px 0px 0px;
  // }

  .ProfileDrawer{
    .subclose {top: 22px;right: 24px;}
    .layer-pop .layer-wrap {border-radius: 0;}
    .login-wrap {width: 812px; height: 100vh; padding: 74px 70px 0; margin-bottom: 0;}
    .login-wrap .form-join {padding-bottom: 30px;}
    .login-wrap .form-join .form-label {margin-bottom: 24px;}
    .login-wrap .form-join dl dd.avatar .form-control-group {align-items: center; gap: 44px;}
    .login-wrap .form-join dl+dl .form-label {margin-bottom: 13px;}
  }

  .inp-wrap {gap: 15px;}
  .inp-wrap input {padding: 14px 16px;}

  .Connect{
    width: 335px;
    height: 308px;
    .popCon{
      max-height: 250px;
    }
    .sec-btns{
      @include flexCtr(8px);
      button{
        padding: 18px 0;
      }
    }
  }

  // 학생인증
  .StudentCertified{
    .layer-wrap {
      .layer-cont {
        overflow-x: hidden; max-height: 250px;margin:0 3px 0 0;
      }
    }
  }

// 맵
.Map {
  @include LtCon(0, 0, 11);
  display: unset;
  width: 100%;
  height: 100vh;
  background: #fff;

  .MapCon {
    @include bg('map_mo_02', $format: "png");
    width: 100%;
    height: 375px;
    padding: 0;
  }
  .MapSearch{display: none;}
  .MapSearch_ty02{
    .searchbtn{
      width: 54px;
      height: 54px;
      margin: 11px 0 0 40px;
      box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
      border-radius: 99px;
      background: #fff;
    }
      .MapSearchBox {
        position: relative;
        padding: 11px 0 0 40px;
      &::before{
        content: '';
    background: url(http://localhost:3000/resources/img/location12.svg) center no-repeat;
    border: none;
    @include LtCon(32px, 60px,0);
    width: 12px;
    height: 12px;
      }
      input {
        width: 335px;
        height: 54px;
        padding: 0 49px 0 41px;
        border: 0;
        border-radius: 99px;
        color: #222;
        &::placeholder{
          font-weight: 500;
          font-size: 16px;
          color: #ddd;
        }
      }

      button {
        @include LtCon(25px, 334px, 0)
      }
    }

  }
  .SearchList {
    width: 335px;
    padding: 11px 0 0 40px;
    li {
      width: 160px;
      background: #fff;
    }
  }

  .locationBtnMap40 {
    @include LtCon(109px, 429px, 0)
  }

  .currentLocBg {
    @include bg('currentLoc');
    @include LtCon(192px, 355px, 0);
    width: 40px;
    height: 64px;
    margin-top: 24px;

    img {
      width: 32px;
      height: 32px;
      margin: 4px;
      border-radius: 100px;
    }
  }

  .mapCurrentLocation40_02 {
    @include BtRtCon(115px, 40px, 0);
  }

  .MapLists_mo {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 0;
    width: 100%;
    .swiper{
      width: 100%;
      height: 80px;
    }
    .swiper-slide, swiper-slide{
      width: 280px !important;
    }
    .MapList {
      width: 280px;
      height: 80px;
      background: #fff;
      box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
      border-radius: 99px;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px 9px;
      font-weight: 400;
      font-size: 13px;
      line-height: 100%;
      color: #707070;

      .bldgImg {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }

      .titDesc {
        width: 115px;
        @include ellipsis(1);
        padding: 6.6px 0 3px;
      }

      .tit {
        @include flexArCtr(8px);
        width: 132px;

        p {
          @include ellipsis(1);
        }
      }
    }
  }
}

// 채팅
  .Chat{
    bottom:0;
    background: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #333;
    .layer{z-index: 10;}
    .subTit {
      padding: 32px 0 18px;
      border-bottom: 1px solid #eee;
      border-radius: 30px;
    }
    .popMoBar{display: none;}
    .ChatCon{
      max-height: 191px;
    }
    .ChatMessage .MessageBox .MessageBoxBtn .downArrow{top: 20px;}
  }
  .ChatMessage_con{
    .layer{z-index: 10;}
    .ChatMessage{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      background: #fff;
      border: 1px solid #eee;
    }
  .MessageBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    width: 663px;
    height: 28px;
    margin: 5px auto 7px;
    padding: 6px 0 6px 20px;
    position: relative;
    border: 1px solid #eee;
    border-radius: 29px;
}
.MessageBoxBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  height: 100%;
}
.downArrow {
  top: 7px;
  left: 51px;
}
.MessageBox .messageInput {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  width: 82%;
  height: 12px;
  padding: 0 10px;
  border-left: 1px solid rgba(221, 221, 221, 0.8);
}
.Message-toggle{
  @include BtLtCon(0, 0, 0);display: flex;flex-direction: column;align-items: flex-start;justify-content: center;gap: 21px;width: 94px;height: 89px;padding: 12px 16px;background: #FFFFFF;border: 1px solid #EEEEEE;box-shadow: 2px 2px 3px rgba(153, 153, 153, 0.15);border-radius: 12px;
  button:hover {color: #62BD53;}
}
  }
// 상담실-상담등록 -----   진희씨 css 중복작업 확인하기
  .ConsProduce{
    .subTit{border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
    .con-wrap{max-height: 295px;}
    .write-con.detail.more{height: 157px;margin-bottom: 20px}
    .ConsProduce-inner .txt-13Gy2{
      text-align: left;
      line-height: 140%;
    }
    .write-con.detail{height: 157px;margin-bottom: 20px;}
    .ConsProduce-inner .write-con.code{position: unset;padding: 15px 20px;}
    .Copypop-bk{
      top: auto;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

// 마이룸 메인페이지 버튼
.CampusGoing{bottom: 70px;}
// 마이룸 옷장
.Closet{
  position: relative;
  display: flex;
  width: 100%;
  .Closet_character_box{
    width: 50%;
    @include flexCtr(0);
    margin-bottom: 42px;
    .Closet_character{
      width: 87.39px;
      height: 258px;
    }
  }
  .Closet_con{
    width: 375px;
    height: 375px;
    border-radius: 0;
    .popCon{
      padding: 0 15px;
      max-height: unset;
      overflow: hidden;
    }
    .con-left .nav-tabs{
      padding-left: 15px;
      gap: 29px;
    }
    .myroom-itemboxs{
      height: 264px;
      padding: 20px 5px 20px 19px;
      .itembox{
        .nav-item{
          width: 69px;
          height: 69px;
          .item{
            width: 59.39px;
            height: 50.9px;
          }
        }
        .nav-item.on::after{
          bottom: 3px;
        }
      }
    }
    .sec-btns{
      padding: 0;
      @include BtLtCon(20px,25%,0);
      transform: translatex(-50%);
    }
  }
}
// 마이룸 화장대
.Closet.Makeup{
  .Closet_character{
    width: 264.24px;
    height: 780.14px;
    position: absolute;
    top: 53px;
  }
}
// 마이룸 캠퍼스 선택
.CampusSelect{
  .subTit{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .wrap-btn-selectcampus{
    padding: 20px 30px;
    gap: 12px;
  }
  .btn-selectcampus{
    width: 241px;
  }
}
}
