$res_root: 'http://localhost:3000';

// 백그라운드 
@mixin bg($name, $path: $res_root +"/resources/img/", $format: "svg") {
  background: url("#{$path}#{$name}.#{$format}") center no-repeat;
  border: none;
}

@mixin ico($name, $path: $res_root +"/resources/img/", $format: "svg") {
  background: url("#{$path}#{$name}.#{$format}") center no-repeat;
  overflow:hidden; 
  color: transparent; 
  vertical-align: middle; 
  background-color: #fff; 
}

// absolute
@mixin RtCon($top, $Rt, $zIndex){
  position: absolute;
  top: $top;
  right: $Rt;
  z-index: $zIndex;
}
@mixin LtCon($top, $Lt, $zIndex){
  position: absolute;
  top: $top;
  left: $Lt;
  z-index: $zIndex;
}
@mixin BtLtCon($Bt, $Lt, $zIndex){
  position: absolute;
  bottom: $Bt;
  left: $Lt;
  z-index: $zIndex;
}
@mixin BtRtCon($Bt, $Rt, $zIndex){
  position: absolute;
  bottom: $Bt;
  right: $Rt;
  z-index: $zIndex;
}

// flex
@mixin flexArCtr($gap){
  display: flex;
  align-items: center;
  gap: $gap;
}
@mixin flexCtr($gap){
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}
@mixin flexCol($gap){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $gap;
}
@mixin flexCol02($gap){
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: $gap;
}
@mixin flexCol03($gap){
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin flexCol04($gap){
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $gap;
}
@mixin flexSb($gap){
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $gap;
}
@mixin flexSa($gap){
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: $gap;
}
@mixin flexFs($gap){
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $gap;
}

// 말줄임
@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }@else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

// 공통영역
@mixin close($top, $Rt, $zIndex){position: absolute;top: $top;right: $Rt;z-index: $zIndex;}

// 우측 하단 팝업창
@mixin popBtRt(){@include BtRtCon(0, 0, 10);width: 375px;}


//********* portrait
@media all and (orientation: portrait) {

  html {
    background:  url($res_root + '/resources/img/bg_mo.jpg') center no-repeat;
  }

  .menuclose{@include close(20px, 24px, 0);}
  .mapclose{@include close(0, -20px, 10);width: 50px;height: 50px;background: #fff;}
  .subclose{@include close(21px, 20px, 0);}
  .entireclose{@include close(34px, 34.1px, 0);}

  // 메시지 숫자 표기
  .-No{@include LtCon(-3px, 12px, 0);}
  // 팝업창 타이틀
  .popTit{@include flexCtr(0);width: 100%;padding: 20px 0;font-size: 17px;}  
  .subTit{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000;
    padding: 21px 0 18px;text-align: center;
    background: #fff;
  }
  // 알수없는 버튼 모음 박스
  .UnKnowBtn{
    width: 60%;
    height: 500px;
  }

  // 메인 우측바
  .RtBar{
    overflow-y: hidden; @include RtCon(50%, 15px, 1); @include flexCol(0); justify-content: space-between; width: 54px; height: 214px; padding: 20px 15px 21px 16px; transform: translateY(-50%); background: rgba(0, 0, 0, 0.3); border-radius: 50px;
    div{@include flexCol(30px);}
      button {position: relative;@include flexCol(10px);}
      .pfp{width: 22px;}
  }
  
  // 메인 좌측상단 박스
  .LtTopBar{
    @include LtCon(69px, 0, 5); @include flexSb(28px); padding: 0 20px; height: 25px;
    .LtTop {
      @include flexArCtr (28px);
    }
    .RtTop {
      @include flexArCtr (20px);
    }
    .loc{
      @include flexArCtr(7px);
      padding-top: 4px;
      div {
        max-width: 92px;
        @include ellipsis(1);
      }
    }
    &::before{display: none;}
  }

  // 참여모드 메인 좌측상단 박스
.RtTopBar{
  @include LtCon(109px, 50%, 5); right: auto; transform: translateX(-50%);
  .RtTopBarCon{width: 338px; padding: 20px 16px;
    .playSubject{
      button img{@include flexCtr(0); width: 12px; height: 12px;}
      .playTime{padding: 0 16px 0 16px;}
      .subjectName{padding: 0 20px 0 15px;
      }
    }
  }
  // 미작업
  .SubjectLists.ty-01{
    height: 56px;
    border-radius: 99px;
    .subjectName input{margin-top: 5px;}
  }
  .SubjectLists{
    @include flexCol02(12px);width: 450px;padding: 19px 22px 15px;background: rgba(0, 0, 0, 0.3);border-radius: 27px;
    .SubjectListPlus{@include flexCtr(0);padding: 3px 0 0;border: 0;}
    .SubjectList{@include flexArCtr(0);width: 100%;padding-bottom: 10px;border-bottom: 1px solid #ddd;
      .subjectName{@include flexArCtr(0);width: 100%;height: 30px;margin: 0 10px;
        input{padding:9px;background: rgba(0, 0, 0, 0.5);border: 1px solid rgba(0, 0, 0, 0.4);border-radius: 5px;color: #fff;
          &::placeholder{font-weight: 500;font-size: 14px;line-height: 100%;color: #A7A7A7;}
        }
      }
      .playTime{
        position: relative;padding: 0 20px;margin-left: 10px;
        &::before{content: ''; @include LtCon(0, 0, 0);width: 1px;height: 100%;background: #ddd;}
      }
    }
    .closeWt12{width: 18px; height: 14px}
    .stop12, .play12{width: 25px;height: 14px;}
  }
}

  // 메인 하단 바
  .BtBar{
    @include BtLtCon(47px, 50%, 6); @include flexCol(0); width: 100%;
    &::before{display: none;}
    .sayBox{width: 210px; margin-bottom: 5.42px;}
    .sayBoxCon{
      padding: 15px 19px 22px; @include bg('sayBox_mo');
      .sayIcon{width: 17px;height: 17px;border-radius: 5px;}
      .say{@include ellipsis(1);}
    }
    .BtBarCon{
      @include flexCtr(27px);
    }
  }

  // 좌측상단 메뉴 버튼
  .Menu{
    width: 335px; padding: 90px 20px 0;
    .MenuCon{
      @include flexCol(23px);
    }
    .MenuList{
      @include flexCol03(30px);
      .btn{font-weight: 500;font-size: 16px;color: #222;
        &::after{width: 6px;height:12px;}
      }
    }
  }

  @mixin MsgCon(){
    width: 335px;
    height: 143px;
  }
  .MsgCon{
    @include MsgCon();
    .sec-btns{
      padding-top: 28px;
    }
  }

  // 로그인
  .Alarm.LogIn {
    width: 375px;
    height: 100vh;
  }
  // 이메일로 로그인 
  .Alarm.ELogin{
    width: 335px;
    height: 364px;
    .ELogin-con{
      padding: 0 15px 30px;
    }
  }
  // 비밀번호 재설정
  .Alarm.PwReset{
    .er{line-height: 120%;}
    .inp-wrap input{
      padding: 14px 19px;
    }
  }

  // 메인 하단 더보기 버튼
  .More{
    @include popBtRt(); padding: 66px 25px 50px;
  }

  .ProfileDrawer{
    .subclose {top: 58px;right: 24px;}
    .layer-pop .layer-wrap {border-radius: 0;}
    .login-wrap {width: 375px; height: 100vh; padding: 110px 20px 0;}
    .login-wrap .form-join {padding-bottom: 30px;}
    .login-wrap .form-join .form-label {margin-bottom: 24px;}
    .login-wrap .form-join dl dd.avatar .form-control-group {align-items: center; gap: 24px;}
    .login-wrap .form-join dl+dl .form-label {margin-bottom: 10px;}
  }

  .inp-wrap {gap: 10px;}
  .inp-wrap input {padding: 14px 16px;}

  .Connect{
    height: auto;
    .popCon{
      overflow-y: visible;
      max-height: none;
      margin: 0;
      padding: 0 15px 0;
    }
    .sec-btns{
      @include flexCtr(8px);
      button{
        padding: 18px 0;
      }
    }
  }
  

// 맵
    .Map {
      @include LtCon(0, 0, 11);
      display: unset;
      width: 100%;
      height: 100vh;
      background: #fff;
  
      .MapCon {
        @include bg('map_mo', $format: "png");
        width: 100%;
        height: 714px;
        padding: 0;
      }
      .MapSearch_ty02{display: none;}
      .MapSearch {
        @include flexCol(0);
        padding-top: 20px;
        border-bottom: 0;
  
        .MapSearchBox {
          &::before{
            top: 23px;
            left: 21px;
          }
          input {
            width: 335px;
            height: 54px;
            padding: 0 49px 0 41px;
          }
  
          button {
            @include RtCon(14px, 21px, 0)
          }
        }
      }
  
      .SearchList {
        width: 335px;
        padding-top: 10px;
  
        li {
          width: 160px;
          background: #fff;
        }
      }
  
      .locationBtnMap40 {
        @include LtCon(266px, 217px, 0)
      }
  
      .currentLocBg {
        @include bg('currentLoc');
        @include LtCon(446px, 88px, 0);
        width: 40px;
        height: 64px;
        margin-top: 24px;
  
        img {
          width: 32px;
          height: 32px;
          margin: 4px;
          border-radius: 100px;
        }
      }
  
      .mapCurrentLocation40_02 {
        @include BtRtCon(160px, 20px, 0);
      }
  
      .MapLists_mo {
        position: absolute;
        bottom: 50px;
        left: 0;
        z-index: 0;
        width: 100%;
        .swiper{
          width: 100%;
          height: 80px;
        }
        .swiper-slide, swiper-slide{
          width: 280px !important;
          margin-right: 20px;
        }
        .MapList {
          width: 280px;
          height: 80px;
          background: #fff;
          box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
          border-radius: 99px;
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 16px 9px;
          font-weight: 400;
          font-size: 13px;
          line-height: 100%;
          color: #707070;
  
          .bldgImg {
            width: 48px;
            height: 48px;
            border-radius: 50%;
          }
  
          .titDesc {
            width: 115px;
            @include ellipsis(1);
            padding: 6.6px 0 3px;
          }
  
          .tit {
            @include flexArCtr(8px);
            width: 132px;
  
            p {
              @include ellipsis(1);
            }
          }
        }
      }
    }
  }


//landscape
@media all and (orientation: landscape) {

  // 공통영역
  html {
    background:  url($res_root + '/resources/img/bg_mo2.jpg') center no-repeat;
  }

  .menuclose{@include close(20px, 24px, 0);}
  .mapclose{@include close(0, -20px, 10);width: 50px;height: 50px;background: #fff;}
  .subclose{@include close(21px, 20px, 0);}
  .entireclose{@include close(34px, 34.1px, 0);}

  // 메시지 숫자 표기
  .-No{@include LtCon(-3px, 12px, 0);}

  // 팝업창 타이틀
  .popTit{padding: 20px 0;font-size: 17px;}
  .subTit{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000;
    padding: 20px 0;text-align: center;
    background: #fff;
  }
  // 우측 중앙 팝업창
  @mixin popBtRt(){@include BtLtCon(0, 50%, 10);width: 375px;transform: translateX(-50%);}

  // 알수없는 버튼 모음 박스
  .UnKnowBtn{
    height: 300px;
  }

  // 메인 우측바
  .RtBar{
    overflow-y: hidden; @include RtCon(50%, 15px, 1); @include flexCol(0); justify-content: space-between; width: 54px; height: 214px; padding: 20px 15px 21px 16px; transform: translateY(-50%); background: rgba(0, 0, 0, 0.3); border-radius: 50px;
    div{@include flexCol(30px);}
      button {position: relative;@include flexCol(10px);}
      .pfp{width: 22px;}
  }

  // 메인 좌측상단 박스
  .LtTopBar{
    @include LtCon(0, 0, 5); @include flexSb(28px); padding: 21px 45px 20px 40px;
    .LtTop {
      @include flexArCtr (28px);
    }
    .RtTop {
      @include flexArCtr (20px);
    }
    .loc{
      @include flexArCtr(7px);
      padding-top: 4px;
      div {
        max-width: 92px;
        @include ellipsis(1);
      }
    }
    &::before{display: none;}
  }

  // 좌측상단 메뉴 버튼
  .Menu{
    @include flexCol03(36px); width: 437px; padding: 35px 60px 0 70px; 
    .MenuCon{
      @include flexCol(18px);
      img{width: 84px;height: 84px;}
      .Point{@include LtCon(68px, 50%, 0);}
    }
    .MenuList{
      @include flexCol03(26px);
      .btn{font-weight: 500;font-size: 16px;color: #222;
        &::after{width: 6px;height:12px;}
      }
    }
  }

  @mixin MsgCon(){
    width: 465px;
    height: 143px;
  }
  .MsgCon{
    @include MsgCon();
    .sec-btns{
      padding-top: 28px;
    }
  }

  // 로그인
  .Alarm.LogIn {
    width: 335px;
    height: 336px;
    .LogIn-con {
      justify-content: flex-start;
      overflow-y: auto;
      max-height: 305px;
    }
  }
  // 이메일로 로그인 
  .Alarm.ELogin{
    width: 335px;
    height: 354px;
    .ELogin-con{
      padding: 0 15px 20px;
    }
  }
  // 비밀번호 재설정
  .Alarm.PwReset{
    .PwReset-con{
      max-height: 220px;
      overflow-y: auto;
    }
    .er{line-height: 120%;}
    .inp-wrap input{
      padding: 14px 19px;
    }
  }

  // 메인 하단 더보기 버튼
  .More{
    @include popBtRt(); padding: 45px 25px 30px; right: auto;
  }

  .ProfileDrawer{
    .subclose {top: 22px;right: 24px;}
    .layer-pop .layer-wrap {border-radius: 0;}
    .login-wrap {width: 812px; height: 100vh; padding: 74px 70px 0; margin-bottom: 0;}
    .login-wrap .form-join {padding-bottom: 30px;}
    .login-wrap .form-join .form-label {margin-bottom: 24px;}
    .login-wrap .form-join dl dd.avatar .form-control-group {align-items: center; gap: 44px;}
    .login-wrap .form-join dl+dl .form-label {margin-bottom: 13px;}
  }

  .inp-wrap {gap: 15px;}
  .inp-wrap input {padding: 14px 16px;}

  .Connect{
    width: 335px;
    height: 308px;
    .popCon{
      max-height: 250px;
    }
    .sec-btns{
      @include flexCtr(8px);
      button{
        padding: 18px 0;
      }
    }
  }

  // 학생인증
  .StudentCertified{
    .layer-wrap {
      .layer-cont {
        overflow-x: hidden; max-height: 250px;margin:0 3px 0 0;
      }
    }
  }
  // 맵
  .Map {
    @include LtCon(0, 0, 11);
    display: unset;
    width: 100%;
    height: 100vh;
    background: #fff;

    .MapCon {
      @include bg('map_mo_02', $format: "png");
      width: 100%;
      height: 375px;
      padding: 0;
    }

    .MapSearch {
      display: none;
    }
    .MapSearch_ty02{
            border-bottom: 0;
      padding: 0;
      .MapSearchBox {
        position: relative;
        padding: 11px 40px 0;

        &::before{
          content: '';
          background: url(http://localhost:3000/resources/img/location12.svg) center no-repeat;
          border: none;
          position: absolute;
          top: 32px;
          left: 60px;
          z-index: 0;
          width: 12px;
          height: 12px;
        }
        input {
          border: 0;
          width: 335px;
          height: 54px;
          padding: 0 49px 0 41px;
          border-radius: 99px;
          color: #222;
        }

        button {
          @include LtCon(26px, 334px, 0)
        }
      }
      .searchbtn{
        position: relative;
        width: 54px;
        height: 54px;
        background: #FFFFFF;
        box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
        border-radius: 99px;
        margin: 11px 50px 0;
      }
      .MapSearchBox_Toggle{
        input {
          width: 335px;
          height: 54px;
          padding: 0 49px 0 41px;
        }

        button {
          @include RtCon(14px, 21px, 0)
        }
      }
    }

    .SearchList {
      width: 335px;
      padding: 10px 0 0 40px;

      li {
        width: 160px;
        background: #fff;
      }
    }

    .locationBtnMap40 {
      @include LtCon(190px, 429px, 0)
    }

    .currentLocBg {
      @include bg('currentLoc');
      @include LtCon(192px, 355px, 0);
      width: 40px;
      height: 64px;
      margin-top: 24px;

      img {
        width: 32px;
        height: 32px;
        margin: 4px;
        border-radius: 100px;
      }
    }

    .mapCurrentLocation40_02 {
      @include BtRtCon(115px, 40px, 0);
    }

    .MapLists_mo {
      position: absolute;
      bottom: 20px;
      left: 0;
      z-index: 0;
      width: 100%;
      .swiper{
        width: 812px;
        height: 80px;
      }
      .swiper-slide, swiper-slide{
        width: 280px !important;
        margin-right: 10px;
      }
      .MapList {
        width: 280px;
        height: 80px;
        background: #fff;
        box-shadow: 0px 18px 40px rgba(112, 144, 176, 0.12);
        border-radius: 99px;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 16px 9px;
        font-weight: 400;
        font-size: 13px;
        line-height: 100%;
        color: #707070;

        .bldgImg {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }

        .titDesc {
          width: 115px;
          @include ellipsis(1);
          padding: 6.6px 0 3px;
        }

        .tit {
          @include flexArCtr(8px);
          width: 132px;

          p {
            @include ellipsis(1);
          }
        }
      }
    }
  }

}
