$res_root: 'http://localhost:3000';

// 백그라운드 
@mixin bg($name, $path: $res_root +"/resources/img/", $format: "svg") {
  background: url("#{$path}#{$name}.#{$format}") center no-repeat;
  border: none;
}

@mixin ico($name, $path: $res_root +"/resources/img/", $format: "svg") {
  background: url("#{$path}#{$name}.#{$format}") center no-repeat;
  overflow:hidden; 
  color: transparent; 
  vertical-align: middle; 
  background-color: #fff; 
}

// absolute
@mixin RtCon($top, $Rt, $zIndex){
  position: absolute;
  top: $top;
  right: $Rt;
  z-index: $zIndex;
}
@mixin LtCon($top, $Lt, $zIndex){
  position: absolute;
  top: $top;
  left: $Lt;
  z-index: $zIndex;
}
@mixin BtLtCon($Bt, $Lt, $zIndex){
  position: absolute;
  bottom: $Bt;
  left: $Lt;
  z-index: $zIndex;
}
@mixin BtRtCon($Bt, $Rt, $zIndex){
  position: absolute;
  bottom: $Bt;
  right: $Rt;
  z-index: $zIndex;
}

// flex
@mixin flexArCtr($gap){
  display: flex;
  align-items: center;
  gap: $gap;
}
@mixin flexCtr($gap){
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}
@mixin flexCol($gap){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $gap;
}
@mixin flexCol02($gap){
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: $gap;
}
@mixin flexCol03($gap){
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin flexCol04($gap){
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $gap;
}
@mixin flexSb($gap){
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $gap;
}
@mixin flexSa($gap){
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: $gap;
}
@mixin flexFs($gap){
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $gap;
}

// 말줄임
@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }@else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

@mixin scroll($max-height){
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: $max-height;
}

// 공통영역
@mixin close($top, $Rt, $zIndex){position: absolute;top: $top;right: $Rt;z-index: $zIndex;}

// 메인 전체 팝업창
@mixin CenterCon(){@include LtCon(0, 0, 10);transform: translate(0 , 0);width: 100%; height: 100vh; max-height:100vh;overflow: hidden;background: #FFFFFF;border-radius: 0;}

// 메인 중앙 팝업창
@mixin CenterCon2(){@include LtCon(50%, 50%, 10);transform: translate(-50%, -50%);width: 335px; max-height:100vh;overflow: hidden;background: #FFFFFF;border-radius: 10px;}

// 우측 중앙 팝업창
@mixin popCenter(){@include RtCon(0, 0, 10); transform: translateY(0); border-radius: 0; width: 100%; max-height: 100vh;}

@mixin guidepop-01(){
  @include LtCon(50%, 50%, 10);
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  @include flexCtr(0);
  padding: 12px 27px;
}
@mixin guidepop-02(){
  position: absolute;
  // overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  @include flexCtr(0);
}

/* moving pad */
.moving-pad {
  position: absolute; bottom: 50px; width: 75px; height: 75px; border: 1px solid rgba(255, 255, 255, 0.2); background-color: rgba(0,0,0,0.4); border-radius: 50%; box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.05); backdrop-filter: blur(5px);
  .handler {position: relative; display: block; left: 50%; top: 50%; transform: translate(-50%, -50%);}
  &.left {
    left: 60px;
    .handler {width: 23px; height: 23px; background-color: #fff; border-radius: 50%; opacity: 0.6; }
  }
  &.right {
    right: 110px;
    .handler {width: 24px; height: 17px; @include bg('img_tri_handler');}
  }
}

//********* portrait
@media all and (orientation: portrait) {

  html {
    background:  url($res_root + '/resources/img/bg_mo.jpg') center no-repeat;
  }

  .menuclose{@include close(20px, 24px, 1);}
  .mapclose{@include close(0, -20px, 10);width: 50px;height: 50px;background: #fff;}
  .subclose{@include close(21px, 20px, 1);}
  .entireclose{@include close(61px, 24px, 2);}

  // 메시지 숫자 표기
  .-No{@include LtCon(-3px, 12px, 0);}
  // 팝업창 타이틀
  .popTit{@include flexCtr(0);width: 100%;padding: 20px 0;font-size: 24px;}  
  .subTit{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000;
    padding: 21px 0 18px;text-align: center
  }
  // 알수없는 버튼 모음 박스
  .UnKnowBtn{
    width: 60%;
    height: 500px;
  }

  // 모바일 팝업 상단 바
  .popMoBar {@include LtCon(9px, 50%, 1); width: 80px; height: 6px; border-radius: 5px; background: #ddd; transform: translateX(-50%); }

  // 우측 하단 팝업창
  @mixin popBtRt(){@include BtRtCon(0, 0, 10);width: 375px;}
  .popCenter, .Chat, .Voters{@include popCenter();}
  .Around, .Emoji {@include popBtRt(); border-radius: 30px 30px 0 0;}
  .AroundAll {@include BtRtCon(0 , 0, 10); top: 0; max-height: 100vh; border-radius: 0;}
  .EmojiAll {max-height: none; height: 365px;}
  .popCon{
    overflow-y: scroll;max-height: 844px;margin: 30px 10px 30px 0;padding: 0 15px 0 30px;
  }
  .popCon.ty-01{
    @include flexCol03(20px);
    max-height: 704px;
    margin-bottom: 20px;
    .Profile-set{    
      flex-direction: row;
      justify-content: space-between;
    }
    .Profile-con{@include flexArCtr(14px);}
    .popCon [class*="btn-L"]{
      width: 335px;
      padding: 17px;
      margin: 0 20px 20px;
    }
  }
  .CtPop{@include CenterCon();}
  .Invite {@include CenterCon2();}  
  .ConsProduce, .ConsEntrance, .NpcInstlReg, .Npc-instl, .Npc-guide, .Announcement, .MyProfile, .MyFriend, .Follow, .Message, .MessageInner, .MyActivity, .MySetting{@include CenterCon();}

  // 메인 중앙 팝업창 하단 공통 영역
  .PopFooter{
    position: absolute; left: 0; bottom: 0; z-index: 10;
    @include flexSa(0);width: 100%;padding: 20px 0;background: #F8F8F8;
    button{
      position: relative;@include flexCol(6px);
      .markRd{top: 0.5px;left: 19.7px;width: 5.16px;height: 5.16px;}
    }
  }

  .con-wrap{
    @include flexCol02(0);overflow: hidden;height: auto;max-height: 679px;padding: 20px 5px 20px 70px;
    .con-inner{overflow-y: scroll;overflow-x: hidden;display: flex;gap: 40px;max-height: 589px;padding: 0px 61px 0 0;}
    .con-inner-col{
      @include flexCol03(15px);overflow-y: scroll;overflow-x: hidden;max-height: 589px;padding: 0px 61px 0 0;
      li{@include flexArCtr(0);transition: all ease .3s 0s;}
    }
    // 프로필 이미지/아이디 세트 공통영역
    .Profile-box{
      @include flexArCtr(12px);margin-right: 150px;transition: all ease .3s 0s;
      
      .Profile-set::before{display: none;}
      .Profile-set{
        position: relative;display: flex;flex-wrap: wrap;gap: 2px;width: 60px;height: 60px;border-radius: 20px; flex-shrink: 0;
        img{width: 60px;height: 60px;}
        .Profile-check-bg{@include BtRtCon(-3px , -5px , 1);width: 22px;height: 22px;background: #fff;border: 1px solid #fff;border-radius: 50px;}
        [class*="mark"]{width: 10px;height: 10px;top: 47px;left: 49px;z-index: 1;}
      }
      .Profile-set.img-set4 img{width: 28px;height: 28px;border-radius: 10px;}
      .Profile-set.img-set2{
        img{width: 38px;height: 38px;border-radius: 14px;}
        img:last-child{@include LtCon(20px, 22px,0);border: 2px solid #fff;}
      }
      .IDBox{
        @include flexCol02(7px);
        .message-txt{width: 100%;@include ellipsis(2);}
      }
    }
  }

  // 메인 우측바
  .RtBar{
    overflow-y: hidden; @include RtCon(50%, 15px, 1); @include flexCol(0); justify-content: space-between; width: 54px; height: 214px; padding: 20px 15px 21px 16px; transform: translateY(-50%); background: rgba(0, 0, 0, 0.3); border-radius: 50px;
    div{@include flexCol(30px);}
      button {position: relative;@include flexCol(10px);}
      .pfp{width: 22px;}
  }
  
  // 메인 좌측상단 박스
  .LtTopBar{
    @include LtCon(69px, 0, 5); @include flexSb(28px); padding: 0 20px; height: 25px;
    .LtTop {
      @include flexArCtr (28px);
    }
    .RtTop {
      @include flexArCtr (20px);
    }
    .loc{
      @include flexArCtr(7px);
      padding-top: 4px;
      div {
        max-width: 92px;
        @include ellipsis(1);
      }
    }
    &::before{display: none;}
  }

  // 참여모드 메인 좌측상단 박스
  .RtTopBar{
    @include LtCon(109px, 50%, 5); right: auto; transform: translateX(-50%);
    .RtTopBarCon{width: 335px; padding: 19px 22px;
      .playSubject{
        button img{@include flexCtr(0); width: 12px; height: 12px;}
        .playTime{padding: 0 16px 0 16px;}
        .subjectName{padding: 0 20px 0 15px;
        }
      }
    }

    .SubjectLists.ty-01{
      height: 54px;
      .subjectName input{margin-top: 0px;}
    }
    .SubjectLists{
      width: 335px; padding: 16px 21px 16px 16px;
      .SubjectList{
        .subjectName{ width: 137px; flex-shrink: 0;
          input{width: 137px;
          }
        }
        .playTime{
          position: relative; padding: 0 10px 0 8px; margin-left: 9px;
        }
      }
      .closeWt12{width: 12px; height: 12px; flex-shrink: 0;}
      .stop12, .play12{width: 12px;height: 14px; flex-shrink: 0;}
    }
  }

  // 메인 하단 바
  .BtBar{
    @include BtLtCon(47px, 50%, 6); @include flexCol(0); width: 100%;
    &::before{display: none;}
    .sayBox{width: 210px; margin-bottom: 5.42px;}
    .sayBoxCon{
      padding: 15px 19px 22px; @include bg('sayBox_mo');
      .sayIcon{width: 17px;height: 17px;border-radius: 5px;}
      .say{@include ellipsis(1);}
    }
    .BtBarCon{
      @include flexCtr(27px);
    }
  }

  // 좌측상단 메뉴 버튼
  .Menu{
    width: 335px; padding: 90px 20px 0;
    .MenuCon{
      @include flexCol(23px);
    }
    .MenuList{
      @include flexCol03(30px);
      .btn{font-weight: 500;font-size: 16px;color: #222;
        &::after{width: 6px;height:12px;}
      }
      .Top-line {
        width: 100%; height: 1px; background: #EEEEEE; border-radius: 6px;
      }
    }
  }

  @mixin MsgCon(){
    width: 335px;
    height: 143px;
  }
  .MsgCon{
    @include MsgCon();
    .sec-btns{
      padding-top: 28px;
    }
  }

  // 로그인
  .Alarm.LogIn {
    width: 335px;
    height: 517px;
  }
  // 이메일로 로그인 
  .Alarm.ELogin{
    width: 335px;
    height: 364px;
    .ELogin-con{
      padding: 0 15px 30px;
    }
  }
  // 비밀번호 재설정
  .Alarm.PwReset{
    .er{line-height: 120%;}
    .inp-wrap input{
      padding: 14px 19px;
    }
  }

  // 메인 하단 채팅 버튼
  .Chat{
    .ChatCon{
      max-height: 662px;
    }
  }

  // 메인 하단 주변 버튼
  .Around{
    .AroundCon{
      margin: 35px 20px 8px; padding-bottom: 6px;
    }
  }

  // 메인 하단 더보기 버튼
  .More{
    @include popBtRt(); padding: 66px 25px 50px; border-radius: 30px 30px 0px 0px;
  }

  .ProfileDrawer{
    .subclose {top: 58px;right: 24px;}
    .layer-pop .layer-wrap {border-radius: 0;}
    .login-wrap {width: 375px; height: 100vh; padding: 110px 20px 0;}
    .login-wrap .form-join {padding-bottom: 30px;}
    .login-wrap .form-join .form-label {margin-bottom: 24px;}
    .login-wrap .form-join dl dd.avatar .form-control-group {align-items: center; gap: 24px;}
    .login-wrap .form-join dl+dl .form-label {margin-bottom: 10px;}
  }

  .inp-wrap {gap: 10px;}
  .inp-wrap input {padding: 14px 16px;}

  .Connect{
    height: auto;
    .popCon{
      overflow-y: visible;
      max-height: none;
      margin: 0;
      padding: 0 15px 0;
    }
    .sec-btns{
      @include flexCtr(8px);
      button{
        padding: 18px 0;
      }
    }
  }

  // 튜토리얼
  .Tutorial{
    .Tutorial-con{
      @include flexCtr(0);
      height: 100vh;
      text-align: center;
      .swiper {height: 100vh;}
      .swiper-slide {@include flexCol(0);}
      p{
        margin: 0 0 29px;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        color: #fff;
      }
      .sec-btn.on-02{
        padding: 17px;
        margin-top: 0;
        position: relative;
        bottom: auto;
        margin-left: 0;
      }
      .swiper-button-next, .swiper-button-prev {
        width: 8px;
        height: 13px;
      }
      .swiper-button-next:after, .swiper-button-prev:after{
        width: 8px;
        height: 13px;
        color: #fff;
        font-size: 0;        
      }
      .swiper-button-prev:after {
        @include bg('icon_swiper_prev_01');
      }
      .swiper-button-next:after {
        @include bg('icon_swiper_next_01');
      }
      .swiper-pagination {
        z-index: 0;
        bottom: 20px;
      }
      .swiper-pagination-bullet{
        width: 9.14px; height: 9.14px;
        background: rgba(255, 255, 255, 0.2);opacity:1;
      }
      .swiper-pagination-bullet-active{
        background:#fff;
      }
      .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin:0 5px;
      }

      .pad-guide {
        position: absolute;
        .guide-tit {margin-bottom: 5px; color: #fff; font-size: 22px; line-height: 22px; font-weight: 700; text-align: center;}
        &.left {
          left: 6%; bottom: 17%;
          .guide-tit {padding-left: 35px; margin-bottom: 33px; text-align: right;}
          .moving-pad {
            position: relative; left: 10px; bottom: 10px;
            &::before {
              content: ''; position: absolute; left: -10px; top: -10px; width: 93px; height: 93px; border: 2px solid #fff; border-radius: 50%;
            }
          }
        }
        &.right {
          right: 1%; bottom: 13.5%;
          img {width: 189.5px; height: 130.5px;}
        }
      }
    }
  }
  .entire-tit{
    @include LtCon(56px, 50%, 0); transform: translateX(-50%);
    width: auto;  
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    background: none;
  }  

  // 초대하기
  .Invite{
    .popTit {
      padding: 30px 0 33px;
      border-bottom: 0;
    }
    .subclose {top: 15px;}
    .Invite-guide{
      padding: 0 0 30px;
    }
    .con-wrap {
      padding: 0 12px 12px 12px;
      .con-inner-col {
        padding: 0;
        gap: 0;
      }
    }
  }

  // 유버스의 안내 NPC 시작-종료
  .Npc-guide{
    overflow: unset;
    top: auto;
    bottom: 110px;
    transform: translate(-50%, 0);
    width: 355px;
    border-radius: 20px; 
    .popTit{
      justify-content:unset;
      padding-left: 20px;
      position: relative;
      background: #fff;
      border-radius: 20px 20px 0 0;
    }
    .Npc-img{
      position: absolute;
      top: -135px;
      left: 0;
      bottom: auto;
      width: 96px;
      z-index: -1;
    }
    .con-wrap{
      padding: 20px 0 30px 20px;
      background: #fff;
      border-radius: 0 0 20px 20px;
      min-height: 107px;
      max-height: 107px;
      box-sizing: border-box;
      .con-inner-col{
        margin-right: 4px;
        padding-right: 16px;
        @include scroll(67px);
      }
    }
  }

  .ProfileView.My{
    .MyProfileInner{padding: 30px 0 30px;}
  }
  .ProfileView{
    width: 323px;
    // height: 390px;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: none;
    .MyProfileCon{
      .MyProfileInner{padding: 30px 0;}
    }
  }

  // 투어하기
  .Tour {
    @include guidepop-02();
    top: 118px;
    right: 70px;
    padding: 8px 35px;
    .close12, .closeWt12{
      margin-left: 14px;
    }
    font: {
      size: 18px;
      weight: 700;
    };
    line-height: 18px;
    color: #111;
    .toggle {
      position: absolute;
      top: 45px;
      left: 21px;
      padding: 20px 50px;
      background: #fff;
      border-radius: 50px;
    }
  }
  .Tour.del {
    right: 100px;
    font-size: 25px;
    line-height: 25px;
    background: #FF5358;
    color: #fff;
  }
  .Tour.on-02 {
    background: #4EEA27;
    color: #111;
  }

  // npc 설치
  .Npc-instl {
    left: 0;
    top: 0;
    transform: translate(0,0);
    justify-content: flex-start;
    height: 100%;
    .subclose {top: 24px; right: 25px;}
    .con-wrap {
      width: 100%;
      max-height: none;
      padding: 20px;
      .con-inner-col {
        max-height: none;
        padding-right: 0;
      }
    }
    .npc-box {
      width: 100%;
      margin: 0 auto 30px;
      max-height: 265px;
      padding: 20px 10px 20px 9px;
      .npc-box-inner {
        gap: 12px;
        @include scroll(223px);
        .npc {
          width: 67px;
          height: 67px;
        }
        .npc.check {
          font-weight: 800;
        }
      }
    }
    .write-con {
      width: 100%;
    }
    .write-con.detail{
      height: 201px;
      max-height: 201px;
    }
    .Lbtns {
      margin-top: 30px;
    }
  }


  // 메인 우측 마이 프로필 버튼
  .MyProfile{
    .popTit {border-bottom: 0;}
    .MyProfileList{
      width: 100%;
      padding: 50px 24px 0;
      .form-list {gap: 14px;}
    }
    .MyProfileCon{
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 0;
      height: calc(100vh - 76px);
      overflow-y: scroll;
      padding-bottom: 167px;
      .MyProfileInner{
        padding-top: 12px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #222;
      }
      .MyProfileInner .MyProfileImg{margin-bottom: 24px;}
      .changeBtn{
        width: 28px;
        height: 28px;
        background: #E6E8F1;
        border-radius: 50%;
        @include flexCtr(0);
        @include RtCon(144px, 28px, 0);
      }
      .copy17{
        margin-top: 0;
      }
    }
    .online{
      width: 102px;
      margin-bottom: 10px;
    }
    .ProfileFooter{
      margin: 40px auto 0;
    }

  }

  // 메인 좌측 하단 마이 팝업 - 하단 친구 버튼
  .MyFriend, .Follow{
    .subclose {top: 23px;}
    .con-wrap{
      max-height: none; 
      height: calc(100vh - 76px); 
      overflow-y: scroll; 
      padding: 10px 0 0 20px;
      justify-content: flex-start;
    }
    .con-inner-col {
      padding:0 14px 20px 0;
      margin-right: 6px;
    }
    .con-inner-col li{justify-content: space-between;}
    .con-wrap .Profile-box {margin-right: 0;}
    .followBtns {
      gap: 5px;
    }
    .followBtns button{
      width: auto;
      min-width: 56px;
      max-width: 56px;
      padding: 10px 0;
      @include flexCtr(0);
    }
    .backBtn{@include LtCon(23px, 31px, 0);}
    .heartBtn{
      @include LtCon(23px, 30px, 0);
      .markRd{top: 0.5px;left: 17px;width: 8px;height: 8px;}
    }
    .MyFriendToggle{
      @include flexCtr(0);width: 335px;height: 54px; padding: 6px;
      .toggle-btn{width: 161px;height: 42px;}
    }
  }

  .Message{
    .con-wrap{
      padding: 0;
      max-height: 100vh;
      justify-content: flex-start;
    }
    .con-wrap .con-inner-col {
      max-height: calc(100vh - 76px);
      padding: 20px;
      gap: 0;
    }
    .con-wrap .con-inner-col li{position: relative; width: 100%; height: 80px; justify-content: space-between; padding-left: 0; margin-right: 20px;}
    .con-wrap .Profile-box{@include flexArCtr(12px);margin-right: 0;transition: all ease .3s 0s;}
    .message-desc{
      height: 24px;text-align: right;
      .message-time{width: 58px;}
      .-No{@include flexCtr(0);position: relative;top: 0;left: 0;width: auto;max-width: 29px;margin-top: 7px;padding: 2.5px 5px;float: right;border-radius: 30px;}
      .-No.none{background: #fff;}
    }
    .message-check{
      margin-left: -160px;transition: all ease .3s 0s;
    }
    .message-btn{
      position: absolute; top: 0; right: -180px; margin-left: 0;
    }
  }

}

//********** landscape
@media all and (orientation: landscape) {

  // 공통영역
  html {
    background:  url($res_root + '/resources/img/bg_mo2.jpg') center no-repeat;
  }

  .menuclose{@include close(20px, 24px, 1);}
  .mapclose{@include close(0, -20px, 10);width: 50px;height: 50px;background: #fff;}
  .subclose{@include close(21px, 20px, 1);}
  .entireclose{@include close(20px, 24px, 2);}

  // 메시지 숫자 표기
  .-No{@include LtCon(-3px, 12px, 0);}

  // 팝업창 타이틀
  .popTit{padding: 20px 0;font-size: 24px;}

  // 우측 하단 팝업창 컨테이너
  .popCon{
    overflow-y: scroll;max-height: 844px;margin: 30px 10px 30px 0;padding: 0 15px 0 30px;
  }
  .popCon.ty-01{
    max-height: 310px;
    padding-bottom: 50px;
  }
  .CtPop{@include CenterCon();}
  .Invite {@include CenterCon2();}  
  .ConsProduce, .ConsEntrance, .NpcInstlReg, .Npc-instl, .Npc-guide, .Announcement, .MyProfile, .MyFriend, .Follow, .Message, .MessageInner, .MyActivity, .MySetting{@include CenterCon();}

  // 우측 중앙 팝업창
  @mixin popBtRt(){@include BtLtCon(0, 50%, 10);width: 375px;transform: translateX(-50%);}

  // 알수없는 버튼 모음 박스
  .UnKnowBtn{
    height: 300px;
  }

  // 메인 중앙 팝업창 하단 공통 영역
  .PopFooter{
    position: absolute; left: 0; top: 0; z-index: 10;
    @include flexCol03(40px); width: 108px; height: 100vh; padding: 26px 17px 27px 56px;
    button{
      position: relative;@include flexCol(6px);
      .markRd{top: 0.5px;left: 19.7px;width: 5.16px;height: 5.16px;}
    }
  }

  // 모바일 팝업 상단 바
  .popMoBar {@include LtCon(9px, 50%, 1); width: 80px; height: 6px; border-radius: 5px; background: #ddd; transform: translateX(-50%); }

  // 우측 중앙 팝업창
  @mixin popCenter(){@include RtCon(0, 0, 10); transform: translateY(0); border-radius: 0; width: 462px; max-height: 100vh;}
  .popCenter, .Chat, .ProfileView, .Voters{@include popCenter();}

  // 우측 하단 팝업창
  @mixin popBtRt(){@include BtRtCon(0, 50px, 10);width: 391px;}
  .popCenter, .Chat, .Voters, .AroundAll{@include popCenter();}
  .Around, .Emoji {@include popBtRt(); border-radius: 30px 30px 0 0;}

  // 메인 우측바
  .RtBar{
    overflow-y: hidden; @include RtCon(50%, 15px, 1); @include flexCol(0); justify-content: space-between; width: 54px; height: 214px; padding: 20px 15px 21px 16px; transform: translateY(-50%); background: rgba(0, 0, 0, 0.3); border-radius: 50px;
    div{@include flexCol(30px);}
      button {position: relative;@include flexCol(10px);}
      .pfp{width: 22px;}
  }

  // 메인 좌측상단 박스
  .LtTopBar{
    @include LtCon(0, 0, 5); @include flexSb(28px); padding: 21px 45px 20px 40px;
    .LtTop {
      @include flexArCtr (28px);
    }
    .RtTop {
      @include flexArCtr (20px);
    }
    .loc{
      @include flexArCtr(7px);
      padding-top: 4px;
      div {
        max-width: 92px;
        @include ellipsis(1);
      }
    }
    &::before{display: none;}
  }

  // 참여모드 메인 좌측상단 박스
  .RtTopBar{
    @include LtCon(7px, 50%, 5); right: auto; transform: translateX(-50%);
    .RtTopBarCon{width: 335px; padding: 19px 22px;
      .playSubject{
        button img{@include flexCtr(0); width: 12px; height: 12px;}
        .playTime{padding: 0 16px 0 16px;}
        .subjectName{padding: 0 20px 0 15px;
        }
      }
    }

    .SubjectLists.ty-01{
      height: 54px;
      .subjectName input{margin-top: 0px;}
    }
    .SubjectLists{
      width: 335px; padding: 16px 21px 16px 16px;
      .SubjectList{
        .subjectName{ width: 137px; flex-shrink: 0;
          input{width: 137px;
          }
        }
        .playTime{
          position: relative; padding: 0 10px 0 8px; margin-left: 9px;
        }
      }
      .closeWt12{width: 12px; height: 12px; flex-shrink: 0;}
      .stop12, .play12{width: 12px;height: 14px; flex-shrink: 0;}
    }
  }

  // 메인 하단 바
  .BtBar{
    @include BtLtCon(22px, 50%, 6); @include flexCol(0); width: 100%;
    &::before{display: none;}
    .sayBox{width: 210px; margin-bottom: 5.42px;}
    .sayBoxCon{
      padding: 15px 19px 22px; @include bg('sayBox_mo');
      .sayIcon{width: 17px;height: 17px;border-radius: 5px;}
      .say{@include ellipsis(1);}
    }
    .BtBarCon{
      @include flexCtr(27px);
    }
  }

  // 좌측상단 메뉴 버튼
  .Menu{
    @include flexCol03(36px); width: 437px; padding: 35px 60px 0 70px; 
    .MenuCon{
      @include flexCol(18px);
      img{width: 84px;height: 84px;}
      .Point{@include LtCon(68px, 50%, 0);}
    }
    .MenuList{
      @include flexCol03(26px);
      .btn{font-weight: 500;font-size: 16px;color: #222;
        &::after{width: 6px;height:12px;}
      }
      .Top-line {
        display: none;
      }
    }
  }

  @mixin MsgCon(){
    width: 465px;
    height: 143px;
  }
  .MsgCon{
    @include MsgCon();
    .sec-btns{
      padding-top: 28px;
    }
  }

  // 로그인
  .Alarm.LogIn {
    width: 335px;
    height: 336px;
    .LogIn-con {
      justify-content: flex-start;
      overflow-y: auto;
      max-height: 305px;
    }
  }
  // 이메일로 로그인 
  .Alarm.ELogin{
    width: 335px;
    height: 354px;
    .ELogin-con{
      padding: 0 15px 20px;
    }
  }
  // 비밀번호 재설정
  .Alarm.PwReset{
    .PwReset-con{
      max-height: 220px;
      overflow-y: auto;
    }
    .er{line-height: 120%;}
    .inp-wrap input{
      padding: 14px 19px;
    }
  }

  // 메인 하단 채팅 버튼
  .Chat{
    .recentTxt{left: 50%; bottom: 95px; transform: translateX(-50%);}
    .ChatCon{
      max-height: 225px;        
    }
  }

  // 메인 하단 주변 버튼
  .Around{
    .AroundCon{
      margin: 35px 20px 8px; padding-bottom: 6px;
    }
  }

  // 메인 하단 더보기 버튼
  .More{
    @include BtLtCon(0px, 50%, 10); transform: translateX(-50%); right: auto; padding: 45px 25px 30px; border-radius: 30px 30px 0px 0px;
  }

  .ProfileDrawer{
    .subclose {top: 22px;right: 24px;}
    .layer-pop .layer-wrap {border-radius: 0;}
    .login-wrap {width: 812px; height: 100vh; padding: 74px 70px 0; margin-bottom: 0;}
    .login-wrap .form-join {padding-bottom: 30px;}
    .login-wrap .form-join .form-label {margin-bottom: 24px;}
    .login-wrap .form-join dl dd.avatar .form-control-group {align-items: center; gap: 44px;}
    .login-wrap .form-join dl+dl .form-label {margin-bottom: 13px;}
  }

  .inp-wrap {gap: 15px;}
  .inp-wrap input {padding: 14px 16px;}

  .Connect{
    width: 335px;
    height: 308px;
    .popCon{
      max-height: 250px;
    }
    .sec-btns{
      @include flexCtr(8px);
      button{
        padding: 18px 0;
      }
    }
  }

  // 학생인증
  .StudentCertified{
    .layer-wrap {
      .layer-cont {
        overflow-x: hidden; max-height: 250px;margin:0 3px 0 0;
      }
    }
  }

  // 튜토리얼
  .Tutorial{
    .Tutorial-con{
      @include flexCtr(0);
      height: 100vh;
      text-align: center;
      .swiper {width: 100%; height: 100%;}
      .swiper-slide {@include flexCol(0);}
      p{
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        color: #fff;
      }
      .sec-btn.on-02{
        padding: 17px;
        margin-top: 30px;
        position: relative;
        bottom: 0;
        margin-left: 0;
      }
      .swiper-button-next, .swiper-button-prev {
        width: 8px;
        height: 13px;
        margin-top: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      .swiper-button-next:after, .swiper-button-prev:after{
        width: 8px;
        height: 13px;
        color: #fff;
        font-size: 0;        
      }
      .swiper-button-prev:after {
        @include bg('icon_swiper_prev_01');
      }
      .swiper-button-next:after {
        @include bg('icon_swiper_next_01');
      }
      .swiper-pagination {
        z-index: 0;
        bottom: 20px;
      }
      .swiper-pagination-bullet{
        width: 9.14px; height: 9.14px;
        background: rgba(255, 255, 255, 0.2);opacity:1;
      }
      .swiper-pagination-bullet-active{
        background:#fff;
      }
      .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin:0 5px;
      }

      .pad-guide {
        position: absolute;
        .guide-tit {margin-bottom: 5px; color: #fff; font-size: 22px; line-height: 22px; font-weight: 700; text-align: center;}
        &.left {
          left: 6%; bottom: 11%;
          .guide-tit {padding-left: 35px; margin-bottom: 33px; text-align: right;}
          .moving-pad {
            position: relative; left: 10px; bottom: 10px;
            &::before {
              content: ''; position: absolute; left: -10px; top: -10px; width: 93px; height: 93px; border: 2px solid #fff; border-radius: 50%;
            }
          }
        }
        &.right {
          right: 8%; bottom: 3%;
          img {width: 189.5px; height: 130.5px;}
        }
      }
    }
  }
  .entire-tit{
    @include LtCon(20px, 50%, 0); transform: translateX(-50%);
    width: auto;  
    padding: 0;
    font-size: 24px;
    font-weight: 700;
  }

  // 초대하기
  .Invite{
    .popTit {
      padding: 30px 0 33px;
      border-bottom: 0;
    }
    .subclose {top: 15px;}
    .Invite-guide{
      padding: 0 0 30px;
    }
    .con-wrap {
      padding: 0 12px 12px 12px;
      .con-inner-col { 
        padding: 0;
        gap: 0;
      }
    }
  }

  // 유버스의 안내 NPC 시작-종료
  .Npc-guide{
    overflow: unset;
    top: auto;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 651px;
    height: 130px;
    border-radius: 20px 20px 0 0;
    .popTit{
      justify-content:unset;
      padding-left: 98px;
    }
    .Npc-img{
      width: 130px;
      bottom: -20px;
      left: -43px;
    }
    .con-wrap{
      padding: 10px 0 37px 98px;
      justify-content: unset;
      min-height: 130px;
      max-height: 130px;
      .con-inner-col{
        margin-right: 4px;
        padding-right: 55px;
        @include scroll(47px);
      }
    }
  }

  .ProfileView.My{
    .MyProfileInner{padding: 30px 0 30px;}
  }
  .ProfileView{
    width: 323px;
    top: 50%;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 354px;
    border-radius: 20px;
    .MyProfileCon{
      
      .MyProfileInner{padding: 9px 0 25px;}
    }
    .distance{
      @include RtCon(122px, 93px, 0);
    }
    .ProfileView-btns{
      padding-top: 30px;
    }
  }

  // 메인 우측 마이 프로필 버튼
  .MyProfile{
    .MyProfileList{
      width: 100%;
      padding: 50px 24px 0;
      border: 1px solid #ddd;
      border-radius: 10px;
      justify-content: flex-start;
      padding: 28px 29px 32px 28px;
      max-height: 247px;
      overflow-y: auto;
      .form-list {gap: 14px;}
    }
    .MyProfileCon{
      gap: 50px;
      width: 100%;
      height: 100vh;
      padding: 30px 60px 30px 163px;
      .MyProfileInner{
        padding-top: 0;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        color: #222;
      }
      .MyProfileInner .MyProfileImg{margin-bottom: 15px;}
      .changeBtn{
        width: 32px;
        height: 32px;
        @include RtCon(130px, 28px, 0);
      }
      .copy17{
        margin-top: 0;
      }
    }
    .online{
      width: 102px;
      margin-bottom: 10px;
    }
    .ProfileFooter{
      margin: 20px auto 0;
    }

  }

  // 투어하기
  .Tour {
    @include guidepop-02();
    top:21px;
    right:254px;
    padding: 8px 35px;
    .close12, .closeWt12{
      margin-left: 14px;
    }
    font: {
      size: 18px;
      weight: 700;
    };
    line-height: 18px;
    color: #111;
    .toggle {
      position: absolute;
      top: 45px;
      left: 21px;
      padding: 20px 50px;
      background: #fff;
      border-radius: 50px;
    }
  }
  .Tour.del {
    right: 296px;
    font-size: 25px;
    line-height: 25px;
    background: #FF5358;
    color: #fff;
  }
  .Tour.on-02 {
    background: #4EEA27;
    color: #111;
  }
  
  // npc 설치
  .Npc-instl {
    left: 0;
    top: 0;
    transform: translate(0,0);
    justify-content: flex-start;
    height: 100%;
    padding-bottom: 0;
    .subclose {top: 24px; right: 25px;}
    .con-wrap {
      justify-content: flex-start;
      width: 100%;
      max-height: 100vh;
      overflow-y: auto;
      padding: 20px 5px 20px 0;
      .con-inner-col {
        max-height: none;
        width: 579px;
        margin: 0 auto;
        padding-right: 0;
      }
    }
    .npc-box {
      width: 579px;
      margin: 0 auto 30px;
      max-height: 243px;
      padding: 20px 10px 20px 9px;
      .npc-box-inner {
        padding: 0 44px;
        gap: 15px;
        @include scroll(203px);
        .npc {
          width: 81px;
          height: 81px;
        }
        .npc.check {
          font-weight: 800;
        }
      }
    }
    .write-con {
      width: 579px;
      margin: 0 auto;
    }
    .write-con.name {
      width: 579px;
      margin: 15px auto 10px;
    }
    .write-con.detail{
      height: 201px;
      max-height: 201px;
    }
    .Lbtns {
      margin-top: 30px;
    }
  }

  // 메인 좌측 하단 마이 팝업 - 하단 친구 버튼
  .MyFriend, .Follow{
    .subclose {top: 23px;}
    .con-wrap{
      max-height: none;
      padding: 10px 0 0 138px;
      justify-content: flex-start;
    }
    .con-inner-col {
      max-height: 225px;
      padding:0 14px 20px 0;
      margin-right: 6px;
    }
    .con-inner-col li{justify-content: space-between;}
    .con-wrap .Profile-box {margin-right: 0;}
    .followBtns {
      gap: 5px;
    }
    .followBtns button{
      width: auto;
      min-width: 76px;
      max-width: 76px;
      padding: 11px 0;
      @include flexCtr(3px);
    }
    .backBtn{@include LtCon(23px, 138px, 0);}
    .heartBtn{
      @include LtCon(23px, 138px, 0);
      .markRd{top : 0.5px;left: 17px;width: 8px;height: 8px;}
    }
    .MyFriendToggle{
      @include flexCtr(0);width: 644px;height: 50px; padding: 5px;
      .toggle-btn{width: 318px;height: 40px;}
    }
  }
}
